@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --blue: hsl(246, 80%, 60%);
    --work: hsl(15, 100%, 70%);
    --play: hsl(195, 74%, 62%);
    --study: hsl(348, 100%, 68%);
    --exercise: hsl(145, 58%, 55%);
    --social: hsl(264, 64%, 52%);
    --self-care: hsl(43, 84%, 65%);

    --v-dark-blue: hsl(226, 43%, 10%);
    --dark-blue: hsl(235, 46%, 20%);
    --desaturated-blue: hsl(235, 45%, 61%);
    --pale-blue: hsl(236, 100%, 87%);

    --card-margin: 2em;
    --card-width: 30em;

    font-size: 10px;
    font-family: 'Rubik', sans-serif;
}

body{
    width: 375px;
    margin: 0 auto;
    background-color: var(--v-dark-blue);
}

.profile-card{
    margin: 0 auto;
    width: var(--card-width);

    align-items: center;
    margin-top: 3em;
    margin-bottom: var(--card-margin);
    color: white;
    background-color: var(--dark-blue);

    border-radius: 1rem;
    padding-bottom: 2rem;
}
.title-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-details{
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    margin-bottom: 2rem;
    background-color: var(--blue);
    padding: 2rem;
    border-radius: 1rem;
    color: var(--pale-blue);
}
#display-name{
    margin-top: 0.5rem;;
    font-weight: normal;
    color: white;
}
.display-photo{
    width: 5em;
    border: 3px solid white;
    border-radius: 50%;
}

.time-selector{
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    width: 100%;
    justify-content: space-around;
    font-size: 1.5em;
    color: var(--desaturated-blue)
}
.time-selector .selected{
    color: white;
}
.t-selector:hover{
    cursor: pointer;
    color: white;
}

.time-card{
    position: relative;
    width: var(--card-width);
    margin: 0 auto;
    overflow: hidden;
    color: white;
    border-radius: 1em;
    margin-bottom: 2rem;
    font-weight: lighter;
}

.work-card{
    background-color: var(--work);
}
.play-card{
    background-color: var(--play);
}
.study-card{
    background-color: var(--study);
}
.social-card{
    background-color: var(--social);
}
.exercise-card{
    background-color: var(--exercise);
}
.self-care-card{
    background-color: var(--self-care);
}


.card-bg-img{
    width: 5em;
    position: absolute;
    left: 22em;
    top: -1em;
}

.foreground{
    position: relative;
    border-radius: 1em;
    margin-top: 3em;
    background-color: var(--dark-blue);
    padding: 2em;
    height: 100%;
    z-index: 1;
}
.foreground:hover{
    background-color: var(--blue);
    cursor: pointer;
}

.weekly{
    display: none;
}

.monthly{
    display: none;
}

.task-name{
    font-size: 1.8rem;
    font-weight: lighter;

}

.time-hours{
    font-size: 3em;
}

.last-time-hours{
    color: var(--pale-blue);
    font-size: 1.2rem;
}

.time-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.attribution{
    color: white;
    justify-self: center;
    align-self: center;
    grid-column-start: 1;
    grid-column-end: 5;
}

@media screen and (min-width: 1000px){
    body{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 95vh;
    }   
    .main-container{
        display: grid;
        width: 1200px;
        margin: 0 auto;
        grid-template-columns: repeat(4, auto);
        height: 50em;
        gap: 0em;
    }
    .profile-card{
        grid-row-start: 1;
        grid-row-end: 3;
        height: 50rem;
        margin-top: 0;
    }
    .user-details{
        height: 35rem;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        font-size: 1.5rem;
    }
    #display-name{
        font-size: 4rem;
        font-weight: lighter;
    }
    .time-selector{
        flex-direction: column;
        align-items: flex-start;
        margin-left: 3rem;
        justify-content: space-between;
        height: 10rem;
    }
    .time-card{
        width: 25rem;

    }
    .time-container{
        flex-direction: column;
        align-items: flex-start;
        margin-top: 2rem;
    }
    .time-hours{
        font-size: 5rem;
    }
    .foreground{
        margin-top: 4em;
    }
    .card-bg-img{
        width: 7em;
        position: absolute;
        left: 17em;
        top: -1em;
    }
}